#page
{
    padding-top:4%;
    padding-bottom: 24%;
    position:relative;
    width:100%;
    border:1px solid black;
    
}

#body
{
    padding:0;
}

.post {
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.post-titre {
    float:left;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 400%;
}

.post-description {
    font-size:300%;
    margin-top: 2%;
    margin-left:1%;
}

.post-profile {
    float:left;
    width: 15%;
}


.icon {
    width: 12%;
    margin-left: 5%;
    float: right;
}

.footer {
    background-color: red;
    height: 10%;
    padding: 1%;
    position: fixed;
    top:91%;
    z-index: 10;
    box-shadow: 0px -2px 10px darkred;
    width: 100%;
}

.footer-icon {
    height:60%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.header {
    background-color: red;
    height: 10%;
    padding: 1%;
    position: sticky;
    top:0px;
    z-index: 10;
    box-shadow: 0px -2px 10px darkred;
    margin-bottom: 2%;
}

.header-icon {
    height: 90%;
}

.header-tag {
    background: darkred;
    height: 50%;
    width: 20%;
    font-size: 200%;
}

.header-search {
    width:35%;
    height: 50%;
    font-size: 200%;
}