#page
{
    padding-top:4%;
    padding-bottom: 24%;
    position:relative;
    width:100%;
    /*page*/
    
}

#body
{
    padding:0;
    margin:0;
}

.post {
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.post-titre {
    float:left;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 400%;
}

.post-description {
    font-size:300%;
    margin-top: 2%;
    margin-left:1%;
}

.post-profile {
    float:left;
    width: 15%;
}


.icon {
    width: 12%;
    margin-left: 5%;
    float: right;
}

.footer {
    background-color: red;
    height: 10%;
    padding: 1%;
    position: fixed;
    top:91%;
    z-index: 10;
    box-shadow: 0px -2px 10px darkred;
    width: 100%;
}

.footer-icon {
    height:60%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.header {
    background-color: red;
    height: 10%;
    padding: 1%;
    position: sticky;
    top:0px;
    z-index: 10;
    box-shadow: 0px 2px 10px darkred;
    /*margin-bottom: 2%;*/
}

.header-icon {
    height: 90%;
}

.header-tag {
    background: darkred;
    height: 50%;
    width: 20%;
    font-size: 200%;
}

.header-search {
    width:35%;
    height: 50%;
    font-size: 200%;
}

.conversation {
    background-color: lightgray;
    height: 10%;
    padding: 1%;
    box-shadow: 0px 2px 10px gray;
    margin-top: 2%;
}

.conversation-image {
    position:absolute;
    height: 80%;

}

.conversation p {
    font-size: 3em;
    margin-left:20%;
    text-overflow: ellipsis;
    direction:ltr;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
}

.concert {
    background-color: lightgray;
    height: auto;
    padding: 1%;
    box-shadow: 0px 2px 10px gray;
    margin-top: 2%;
}

.concert-titre {
    margin-left: 3%;
    margin-top: 3%;
    font-size: 400%;
    text-decoration: underline;
}

.concert-commentaire {
    font-size:3em;
    margin-left: 3%;
}

.concert-bouton {
    height: 10%;
    font-size: 200%;
    position:relative;
    background: darkred;
}

.concert-pourcentage {
    background-color: red;
    font-size: 300%;
}

.concert-progress {
    margin-top: 5%;
    height: 8%;
    width: 100%;
}

.concert-date {
    color:gray;
    font-size: 300%;
}

.repetition {
    background-color: silver;
    box-shadow: 0px 2px 10px gray;
    padding:1%;
    margin-top: 2%;
}

.repetition-titre {
    margin-left: 3%;
    margin-top:3%;
    font-size:400%;
    text-decoration:underline;
}

.repetition-date {
    font-size: 300%;
    color:gray;   
}

.repetition-commentaire {
    font-size: 3em;
    margin-left: 3%;
    margin-right: 20%;
}

.repetition-bouton {
    height: 10%;
    font-size: 200%;
    float:right;
    margin-top:2%;
    margin-right: 5%;
    background: darkred;


}

.repetition-justification {
    font-size: 200%;
    margin-left: 2%;
    width: 90%;
}

.buttonCreer
{
    margin-bottom:0%;
    font-size: 300%;
    width:100%;
    background-color: darkred;
}

.divFormPost
{
width:100%;
font-size: 300%;
padding-left:10%;
padding-right:10%;
}


.divFormPostTitre
{
    height:3%;
    font-size: 100%;
}

.divFormPostCheckBox
{
    height:3%; 
    font-size: 100%;
    margin-bottom: 5%;
    
}
.LabelTypeForm
{
    margin-top: 5%;
}

.option 
{
    font-size: 25%;
}

.divFormPostContent
{
    height:15%;

}


.buttonAddImage
{
    font-size: 75%;
    background-color: darkred;
    width:80%;
}

.buttonPublier
{
    font-size: 75%; 
    background-color: darkred;
}

.divFormEventDate
{

    margin-right: 70%;
    margin-bottom: 5%;

}

.buttonPublier
{
    margin-left:30%;
    margin-right:auto;

}


.Activite
{
    background-color: lightgray;
    width:90%;
    padding:2%;
    font-size: 300%;
    margin-left:5%;
    box-shadow: 0px 2px 10px gray;
    margin-bottom: 2%;

}

.activite-img
{
    width:15%;

}


.Profiletag
{
    border-radius: 20px;
    font-size: 200%;
    margin-left:5%;
    text-align: center;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;

}

.profileImage
{
    width:50%;
    margin-left:25%;
}
.profileNom
{
    font-size: 400%;
   text-align: center;
    font-weight: bold;


}

.profile-progress
{
    height:2%;
    border-radius: 10px;
    width:80%;
    margin-left:10%;
    font-size: 250%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.profile-reglage
{
width:10%;
position:absolute;

}

.MessageHeader
{
    background-color: lightgray;
    position: absolute;
    position: sticky;
    top:0px;
    z-index: 10;
    font-size:300%;
    padding:1%;
    font-weight: bold;
    height:8%;
    box-shadow: 0px 2px 10px silver;
}

.Message-Fleche,.Message-Reglage,.Message-Epingle
{
    width:10%;
    
}
.Message-Down
{
    background-color: lightgray;
box-shadow: 0px -2px 10px silver;
position: fixed;
top:82.5%;
width:100%;
padding:1%;
display: inline;
height:8%;
}
.Message-Input
{
    width:88%;
    height: 100%;
    font-size: 300%;

}
.Message-Send
{
width:10%;
float:right;
margin:0;
margin-top: 3%;
}